 .bordered-div {
   border: 1 solid #f9f9f9 !important;
   box-shadow: 5 2 2 inset !important;
 }

 .button-container {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 15px auto;
  }

  .button {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .button-container .button:not(.highlight-card) {
    cursor: pointer;
  }

  .button-container .button:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  table {
    width: 80%;
    margin: 0 auto;
  }

  .mat-cell {
      width: 20px;
      text-align: justify;
  }

  .loading-container {
    position: relative;
    padding: 2px;
    min-height: 200px;
  }
  
  .loading-container-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }