

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#" [routerLink]="['/dashboard']">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/art']">Surf art</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/profile']">Profile</a>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/Login']">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin']">Admin</a>
            </li>
        </ul>
    </div>
</nav>